.changelogLink {
  flex-direction: column;
}

.changelogDate {
  transition: color var(--duration-normal) var(--ease-out);
  color: var(--color-text-secondary);
  font-size: var(--font-size-2xs);
  line-height: var(--line-height-2xs);
}

.changelogLink:hover .changelogDate {
  transition-duration: var(--duration-hover);
  color: var(--color-text);
}

.changelogTitle {
  max-width: 227px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ctaButtonWrapper {
  padding: var(--space-2);
  width: 100%;
}
