.companyLink {
  align-items: center;
  gap: 6px;
}

.iconWrap {
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  color: var(--color-text-secondary);
}

.iconWrap svg {
  width: 100%;
  height: 100%;
}

[data-theme='dark'] .iconWrap {
  color: var(--color-text);
}
