.popup {
  transform: translateZ(0);
  transform-origin: var(--transform-origin);

  transition-duration: 200ms;
  transition-property: opacity, transform;
  transition-timing-function: var(--ease-out);
  box-shadow: var(--shadow-popup-outer);
  border-radius: var(--radius-xl);
  background: var(--bg-popup-outer);
  isolation: isolate;
  width: var(--popup-width);
  height: var(--popup-height);
  overflow: clip;

  &[data-starting-style] {
    transform: scale(0.97);
    opacity: 0;
  }

  &[data-ending-style] {
    opacity: 0;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
  }
}

.popupInner {
  box-shadow: var(--shadow-popup-inner);
  border-radius: var(--radius-xl);
  background: var(--bg-popup-inner);
  padding: var(--space-2);
  width: 100%;
  height: 100%;
}

.popupContentHeader {
  margin-bottom: var(--space-2);
  padding: 6px var(--space-3) 0;
  color: var(--color-text-secondary);
  font-weight: var(--font-weight-medium);
  font-size: 11px;
  font-family: 'IBM Plex Mono', monospace;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}
